.Footer {
  height: 80px;
  background-color: #222224;
  @include mainPadding();
  @include flex(row, space-between);

  @media all {
    @media (max-width: 1180px) {
      @include tabletPadding();
    }
    @media(max-width: 800px) {
      @include mobilePadding();
    }
    @media(max-width: 450px) {
      justify-content: center;
    }
  }

  &-Copyright {
    color: white;
  }

  &-Block {
@include flex();
  }

  .SocialIcon {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    @include flex();
    margin-left: 0.5rem;

    &:hover {
      background-color: #F16D7F;
    }

    &:hover .SocialIcon-Img {
      fill: white;
    }

    &-Img {
      height: 50%;
    }
  }
}
