@mixin mainPadding($y: 0) {
  padding: $y calc(50% - 1140px / 2);
}

@mixin tabletPadding($y: 0) {
  padding: $y calc(50% - 768px / 2);
}

@mixin mobilePadding($y: 0) {
  padding: $y 5vw;
}

@mixin flex($direction: row, $justify: center, $align: center, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
