@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #F16D7F;
}

ul[class],
ol[class] {
  list-style-type: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.H1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
}

.H2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}

.H3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.H4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
}

.H5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.H6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.Icon {
  width: 32px;
  fill: white;
}
.Icon-Search {
  width: 26px;
}
.Icon-Profile {
  width: 29px;
}

.Header {
  background-color: #222222;
  height: 75px;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Header-Block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Header-Icon {
  margin-left: 32px;
}
.Header .Cart {
  position: relative;
}
.Header .Cart::after {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  color: white;
  content: "5";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  background: #F16D7F;
  text-align: center;
}

.Logo {
  width: 44px;
}

.Footer {
  height: 80px;
  background-color: #222224;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Footer-Copyright {
  color: white;
}
.Footer-Block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Footer .SocialIcon {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0.5rem;
}
.Footer .SocialIcon:hover {
  background-color: #F16D7F;
}
.Footer .SocialIcon:hover .SocialIcon-Img {
  fill: white;
}
.Footer .SocialIcon-Img {
  height: 50%;
}

.Breadcrumbs {
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  background-color: #F8F3F4;
}
.Breadcrumbs-H4 {
  color: #F16D7F;
  font-weight: 400;
  text-transform: uppercase;
}
.Breadcrumbs-Link {
  text-transform: uppercase;
}
.Breadcrumbs-Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Breadcrumbs-NavCurrentPage {
  font-weight: 700;
  color: #F16D7F;
}

.MainFilter {
  width: 31.5%;
  text-align: left;
}
.MainFilter-Heading {
  text-transform: uppercase;
  font-weight: 400;
}
.MainFilter-ToggleIcon {
  margin-left: 11px;
}
.MainFilter-IconImg {
  width: 15px;
}
.MainFilter-Items {
  display: none;
}

.SortFilter {
  width: 31.5%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-left: 30px;
}
.SortFilter-Block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin-right: 30px;
}
.SortFilter-Icon {
  display: block;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.SortFilter-IconImg {
  width: 10px;
}

.Pagination {
  padding: 16px;
  border: 1px solid #EBEBEB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.Pagination-Pages {
  margin: 0 20px;
}
.Pagination-Page {
  font-size: 16px;
  color: #C4C4C4;
  margin-right: 15px;
  cursor: pointer;
}
.Pagination-Page_active {
  color: #EF5B70;
}
.Pagination-IconImg {
  height: 14px;
  cursor: pointer;
}

.RegistrationForm {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.RegistrationForm-InputLabel {
  font-weight: 300;
}
.RegistrationForm-Input {
  width: 360px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding: 15px;
}
.RegistrationForm-Input::placeholder {
  color: #B1B1B1;
}
.RegistrationForm-CheckBlock {
  margin: 35px 0;
}
.RegistrationForm-CheckboxLabel {
  font-size: 11px;
  margin-right: 1rem;
}
.RegistrationForm-Clarification {
  margin: 15px 0 40px;
  color: #B1B1B1;
}
.RegistrationForm-Submit {
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: #F16D7F;
  color: white;
}
.RegistrationForm-Icon {
  margin-left: 20px;
  width: 17px;
  fill: white;
}
.RegistrationForm input[type=submit] {
  display: none;
}

.PromoSection {
  height: 764px;
  background-color: #F1E4E6;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.PromoSection-Block {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.PromoSection-Block_left {
  justify-content: start;
}
.PromoSection-Hgroup {
  padding-left: 19px;
  height: 92px;
  border-left: 12px solid #F16D7F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.PromoSection-H2 {
  display: block;
}
.PromoSection-H2_pink {
  color: #F16D7F;
}

.OfferSection {
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 65px;
}
.OfferSection-Card {
  width: 30%;
  height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.OfferSection-H4 {
  color: #F16D7F;
}
.OfferSection-Card_woman {
  background-image: url(../img/offer-woman.jpg);
}
.OfferSection-Card_man {
  background-image: url(../img/offer-man.jpg);
}
.OfferSection-Card_child {
  background-image: url(../img/offer-child.jpg);
}
.OfferSection-Card_accessories {
  background-image: url(../img/offer-accessories.jpg);
  width: 100%;
  margin-top: 30px;
}

.ProductsSection {
  margin-top: 95px;
  margin-bottom: 95px;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ProductsSection-Header {
  text-align: center;
  margin-bottom: 15px;
}
.ProductsSection-Header_catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.ProductsSection-Products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.ProductsSection .ProductCard {
  width: 31.5%;
  margin-top: 30px;
  background-color: #F8F8F8;
}
.ProductsSection .ProductCard-Img {
  object-fit: contain;
}
.ProductsSection .ProductCard-H6, .ProductsSection .ProductCard-Text {
  margin-left: 15px;
  margin-right: 20px;
}
.ProductsSection .ProductCard-H6 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.ProductsSection .ProductCard-H6_pink {
  color: #F16D7F;
}
.ProductsSection-Btn {
  display: block;
  width: 211px;
  height: 47px;
  background-color: transparent;
  border: 2px solid #FF6A6A;
  color: #F26376;
  align-self: center;
  margin: 45px auto 0;
  text-align: center;
  line-height: 40px;
}

.FeatureSection {
  height: 341px;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 calc(50% - 1140px / 2);
}
.FeatureSection-Block {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.FeatureSection-Icon {
  width: 44px;
  fill: #F16D7F;
}
.FeatureSection-Icon_sale {
  width: 40px;
}
.FeatureSection-Icon_quality {
  width: 47px;
}
.FeatureSection-H5 {
  color: white;
  margin: 30px 0 16px;
}
.FeatureSection-Text {
  color: white;
  text-align: center;
}

.SubscribeSection {
  height: 448px;
  background-image: url(../img/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.SubscribeSection-Block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
}
.SubscribeSection .ReviewCard-Text {
  text-align: center;
  margin-top: 30px;
}
.SubscribeSection .SubscribeBlock {
  width: 45%;
}
.SubscribeSection .SubscribeBlock-Input {
  height: 50px;
  width: 260px;
  margin-top: 30px;
  padding-left: 20px;
  border: none;
  background-color: #E1E1E1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: none;
}
.SubscribeSection .SubscribeBlock-Input:focus {
  border: none;
}
.SubscribeSection .SubscribeBlock-Input::placeholder {
  color: grey;
}
.SubscribeSection .SubscribeBlock-Btn {
  height: 50px;
  width: 100px;
  border: none;
  background-color: #F16D7F;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  cursor: pointer;
}

.RegistrationSection {
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 95px;
}
.RegistrationSection .BonusesArticle {
  width: 55%;
}
.RegistrationSection .BonusesArticle-H4, .RegistrationSection .BonusesArticle-Text, .RegistrationSection .BonusesArticle-List {
  font-weight: 300;
}
.RegistrationSection .BonusesArticle-Text {
  margin: 20px 0;
}
.RegistrationSection .BonusesArticle-ListIcon {
  width: 20px;
  margin-right: 20px;
}
.RegistrationSection .BonusesArticle-List {
  margin-bottom: 15px;
}

/*# sourceMappingURL=app.css.map */
