@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

.Body_scrollHidden {
  overflow: hidden;
}

.BodyOverlay_active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  filter: brightness(30%);
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #F16D7F;
}

ul[class],
ol[class] {
  list-style-type: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.H1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
}
@media all and (max-width: 1180px) {
  .H1 {
    font-size: 44px;
  }
}

.H2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}
@media all and (max-width: 1180px) {
  .H2 {
    font-size: 24px;
  }
}

.H3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.H4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
}

.H5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.H6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.Icon {
  width: 32px;
  fill: white;
}
.Icon-Search {
  width: 26px;
}
.Icon-Profile {
  width: 29px;
}
@media (max-width: 400px) {
  .Icon-Profile {
    display: none;
  }
}

.Header {
  background-color: #222222;
  height: 75px;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 1180px) {
  .Header {
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .Header {
    padding: 0 5vw;
  }
}
.Header-Block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Header-Icon {
  margin-left: 32px;
  cursor: pointer;
}
.Header .Cart {
  position: relative;
}
@media (max-width: 450px) {
  .Header .Cart {
    display: none;
  }
}
.Header .Cart::after {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  color: white;
  content: "5";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  background: #F16D7F;
  text-align: center;
}

.Logo {
  width: 44px;
}

.Footer {
  height: 80px;
  background-color: #222224;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1180px) {
  .Footer {
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .Footer {
    padding: 0 5vw;
  }
}
@media (max-width: 450px) {
  .Footer {
    justify-content: center;
  }
}
.Footer-Copyright {
  color: white;
}
.Footer-Block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Footer .SocialIcon {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0.5rem;
}
.Footer .SocialIcon:hover {
  background-color: #F16D7F;
}
.Footer .SocialIcon:hover .SocialIcon-Img {
  fill: white;
}
.Footer .SocialIcon-Img {
  height: 50%;
}

.Breadcrumbs {
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  background-color: #F8F3F4;
}
@media (max-width: 1180px) {
  .Breadcrumbs {
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .Breadcrumbs {
    padding: 0 5vw;
  }
}
.Breadcrumbs-H4 {
  color: #F16D7F;
  font-weight: 400;
  text-transform: uppercase;
}
.Breadcrumbs-Link {
  text-transform: uppercase;
}
.Breadcrumbs-Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Breadcrumbs-NavCurrentPage {
  font-weight: 700;
  color: #F16D7F;
}

.MainFilter {
  width: 31.5%;
  text-align: left;
  position: relative;
}
.MainFilter-Heading {
  text-transform: uppercase;
  font-weight: 400;
}
.MainFilter-ToggleIcon {
  margin-left: 11px;
}
.MainFilter-IconImg {
  width: 15px;
}
.MainFilter-OpenBtn, .MainFilter-OpenSubBtn {
  display: none;
}
.MainFilter-OpenBtn:checked ~ .MainFilter-Items, .MainFilter-OpenSubBtn:checked ~ .MainFilter-SubItems {
  display: block;
}
.MainFilter-OpenSubBtn:checked ~ .MainFilter-OpenSubBtnText {
  color: #EF5B70;
}
.MainFilter-OpenBtn:not(:checked) ~ .MainFilter-Items, .MainFilter-OpenSubBtn:not(:checked) ~ .MainFilter-SubItems {
  display: none;
}
.MainFilter-OpenBtnText {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.MainFilter-Items {
  text-align: left;
  width: 350px;
  padding: 1rem;
  position: absolute;
  top: 30px;
  z-index: 5;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid lightgray;
}
.MainFilter-OpenSubBtnText {
  text-transform: uppercase;
  height: 40px;
  cursor: pointer;
  border-left: 5px solid #EF5B70;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.MainFilter-SubItems {
  text-align: left;
  width: content-box;
  background-color: white;
  padding: 30px !important;
}
.MainFilter-SubItem {
  text-transform: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.SortFilter {
  width: 31.5%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-left: 30px;
}
.SortFilter_product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 600px) {
  .SortFilter_product {
    display: none;
  }
}
.SortFilter-Block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
}
.SortFilter-Icon {
  display: block;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.SortFilter-IconImg {
  width: 10px;
}
.SortFilter-OpenBtn {
  display: none;
}
.SortFilter-OpenBtn:checked ~ .SortFilter-SubBlock {
  display: block;
}
.SortFilter-OpenBtn:not(:checked) ~ .SortFilter-SubBlock {
  display: none;
}
.SortFilter-OpenBtnText {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: max-content;
}
.SortFilter-SubBlock {
  text-align: left;
  width: content-box;
  padding: 1rem;
  position: absolute;
  top: 30px;
  z-index: 5;
  background-color: white;
}
.SortFilter-FormItem {
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
}

.Pagination {
  padding: 16px;
  border: 1px solid #EBEBEB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.Pagination-Pages {
  margin: 0 20px;
}
.Pagination-Page {
  font-size: 16px;
  color: #C4C4C4;
  margin-right: 15px;
  cursor: pointer;
}
.Pagination-Page_active {
  color: #EF5B70;
}
.Pagination-IconImg {
  height: 14px;
  cursor: pointer;
}

.RegistrationForm {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.RegistrationForm-InputLabel {
  font-weight: 300;
}
.RegistrationForm-Input {
  width: 360px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding: 15px;
}
.RegistrationForm-Input::placeholder {
  color: #B1B1B1;
}
.RegistrationForm-CheckBlock {
  margin: 35px 0;
  width: max-content;
}
.RegistrationForm-CheckboxLabel {
  font-size: 11px;
  margin-right: 1rem;
}
.RegistrationForm-Clarification {
  width: 320px;
  margin: 15px 0 40px;
  color: #B1B1B1;
}
.RegistrationForm-Submit {
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: #F16D7F;
  color: white;
  width: max-content;
}
.RegistrationForm-Icon {
  margin-left: 20px;
  width: 17px;
  fill: white;
}
.RegistrationForm input[type=submit] {
  display: none;
}

.ProductCard {
  width: 31.5%;
  margin-top: 30px;
  background-color: #F8F8F8;
  position: relative;
  transition: 0.5s;
}
@media (max-width: 1180px) {
  .ProductCard {
    width: 47%;
  }
}
@media (max-width: 600px) {
  .ProductCard {
    width: 100%;
  }
}
.ProductCard:hover {
  transform: scale(1.03);
}
.ProductCard-Img {
  width: 100%;
  object-fit: contain;
  transition: filter 0.3s;
}
.ProductCard:hover .ProductCard-Img {
  filter: brightness(50%);
}
.ProductCard-H6, .ProductCard-Text {
  margin-left: 15px;
  margin-right: 20px;
}
.ProductCard-H6 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.ProductCard-H6_pink {
  color: #F16D7F;
}
.ProductCard-Icon {
  width: 25px;
  margin-right: 1rem;
  transition: all 0.3s;
}
.ProductCard-Btn {
  border: 1px solid white;
  width: 140px;
  height: 45px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  left: calc(50% - 140px/2);
  background: transparent;
  color: white;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}
.ProductCard-Btn:hover {
  color: white;
  transform: translateX(20px);
}
.ProductCard:hover .ProductCard-Btn {
  opacity: 1;
}
.ProductCard-Link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 0;
  border: none;
}

.CartProductCard {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
}
.CartProductCard-Img {
  width: 262px;
  height: 306px;
}
@media (max-width: 600px) {
  .CartProductCard-Img {
    width: 30%;
    height: auto;
  }
}
.CartProductCard-Text {
  padding: 30px;
  height: 306px;
}
.CartProductCard-H4 {
  font-weight: 400;
  margin-bottom: 40px;
}
.CartProductCard-Property {
  margin-bottom: 5px;
  font-weight: 300;
}
.CartProductCard-Property_pink {
  color: #EF5B70;
}
.CartProductCard-Property_box {
  margin-left: 1rem;
  border: 1px solid lightgray;
  padding: 5px 10px;
  font-size: 18px;
}
.CartProductCard-DeleteBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  transition: 1s;
}
.CartProductCard-DeleteBtn:hover {
  transform: rotate(360deg);
}
.CartProductCard-Btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
.CartProductCard-Btn {
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  background: transparent;
}

.BigSlider {
  width: 100vw;
  height: 777px;
  background-image: url("../img/products/product_slide.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.BigSlider-Arrow {
  background-color: lightgray;
  padding: 20px;
  cursor: pointer;
}
.BigSlider-IconImg {
  width: 1rem;
}

.ProductInfoArticle {
  width: 1140px;
  padding: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  margin: -50px auto 0;
  background: white;
  text-align: center;
}
@media (max-width: 1180px) {
  .ProductInfoArticle {
    width: 770px;
  }
}
@media (max-width: 800px) {
  .ProductInfoArticle {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .ProductInfoArticle {
    height: inherit;
  }
}
.ProductInfoArticle-H6 {
  color: #F16D7F;
  font-weight: 300;
}
.ProductInfoArticle-H6::after {
  content: "";
  display: block;
  width: 65px;
  border-bottom: 3px solid #EF5B70;
  margin: 12px auto;
}
.ProductInfoArticle-H5 {
  font-weight: 300;
}
.ProductInfoArticle-H4 {
  font-weight: 300;
  color: #EF5B70;
  text-align: center;
}
.ProductInfoArticle-H4::after {
  content: "";
  display: block;
  width: 640px;
  border-bottom: 1px solid lightgray;
  margin: 65px auto 55px;
}
@media (max-width: 800px) {
  .ProductInfoArticle-H4::after {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .ProductInfoArticle-H4::after {
    width: 100%;
  }
}
.ProductInfoArticle-Text {
  width: 50%;
  text-align: center;
  margin: 50px 0 32px;
}
@media (max-width: 800px) {
  .ProductInfoArticle-Text {
    width: 100%;
  }
}
.ProductInfoArticle-Btn {
  padding: 15px;
  margin-top: 50px;
  background: transparent;
  border: 1px solid #FF6A6A;
  color: #FF6A6A;
}
@media (max-width: 600px) {
  .ProductInfoArticle-Btn {
    margin-top: 20px;
  }
}

.BurgerMenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 235px;
  height: 100vh;
  background-color: white;
  z-index: 2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding: 35px;
}
.BurgerMenu_active {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.BurgerMenu-CloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.BurgerMenu-Title {
  font-weight: 700;
}
.BurgerMenu-Item {
  font-weight: 400;
  color: #F16D7F;
  margin-top: 25px;
}
.BurgerMenu-SubList {
  padding-left: 20px !important;
}
.BurgerMenu-SubItem {
  color: #6F6E6E;
  margin-top: 12px;
  cursor: pointer;
}

.PromoSection {
  height: 765px;
  background-color: #F1E4E6;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.PromoSection_overlay {
  filter: brightness(30%);
}
@media (max-width: 1180px) {
  .PromoSection {
    height: 370px;
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .PromoSection {
    padding: 0 5vw;
  }
}
@media all and (max-width: 1180px) {
  .PromoSection-Img {
    height: 368px;
  }
}
.PromoSection-Block {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.PromoSection-Block_left {
  justify-content: start;
}
@media (max-width: 600px) {
  .PromoSection-Block_left {
    display: none;
  }
}
.PromoSection-Hgroup {
  padding-left: 19px;
  height: 92px;
  border-left: 12px solid #F16D7F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.PromoSection-H2 {
  display: block;
  width: max-content;
}
.PromoSection-H2_pink {
  color: #F16D7F;
}

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.OfferSection {
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 65px;
}
@media (max-width: 1180px) {
  .OfferSection {
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .OfferSection {
    padding: 0 5vw;
  }
}
.OfferSection-Card {
  width: 30%;
  height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1180px) {
  .OfferSection-Card {
    height: 220px;
  }
}
@media (max-width: 800px) {
  .OfferSection-Card {
    height: 180px;
    background-position: top center;
  }
}
@media (max-width: 600px) {
  .OfferSection-Card {
    width: 100%;
    margin-bottom: 30px;
    height: 240px;
    background-position: top left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    padding-right: 30px;
  }
}
.OfferSection-Card:hover {
  transform: scale(1.05);
}
.OfferSection-H4 {
  color: #F16D7F;
}
.OfferSection-Card_woman {
  background-image: url(../img/offer-woman.jpg);
}
.OfferSection-Card_man {
  background-image: url(../img/offer-man.jpg);
}
.OfferSection-Card_child {
  background-image: url(../img/offer-child.jpg);
}
.OfferSection-Card_accessories {
  background-image: url(../img/offer-accessories.jpg);
  width: 100%;
  margin-top: 30px;
}
@media (max-width: 600px) {
  .OfferSection-Card_accessories {
    margin-top: 0;
  }
}

.ProductsSection {
  margin-top: 95px;
  margin-bottom: 95px;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1180px) {
  .ProductsSection {
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .ProductsSection {
    padding: 0 5vw;
  }
}
.ProductsSection-Header {
  text-align: center;
  margin-bottom: 15px;
}
.ProductsSection-Header_catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.ProductsSection-Products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.ProductsSection-Btn {
  display: block;
  width: 211px;
  height: 47px;
  background-color: transparent;
  border: 2px solid #FF6A6A;
  color: #F26376;
  align-self: center;
  margin: 45px auto 0;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
}
.ProductsSection-Btn:hover {
  background-color: #FF6A6A;
  color: white;
}

.FeatureSection {
  height: 341px;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 calc(50% - 1140px / 2);
}
@media (max-width: 1180px) {
  .FeatureSection {
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .FeatureSection {
    padding: 0 5vw;
  }
}
@media (max-width: 600px) {
  .FeatureSection {
    height: inherit;
  }
}
.FeatureSection-Block {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .FeatureSection-Block {
    padding: 7vw 15vw;
    width: 100%;
    height: max-content;
  }
}
.FeatureSection-Block:hover .FeatureSection-Icon_сar {
  animation: ride 4s ease-in-out;
}
.FeatureSection-Block:hover .FeatureSection-Icon_quality {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}
.FeatureSection-Block:hover .FeatureSection-Icon_sale {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.FeatureSection-Icon {
  width: 44px;
  fill: #F16D7F;
}
.FeatureSection-Icon_sale {
  width: 40px;
}
.FeatureSection-Icon_quality {
  width: 47px;
}
.FeatureSection-H5 {
  color: white;
  margin: 30px 0 16px;
}
.FeatureSection-Text {
  color: white;
  text-align: center;
}

@keyframes ride {
  0% {
    transform: translateX(0);
  }
  23% {
    transform: translateX(90px) rotateY(0);
  }
  25% {
    transform: translateX(100px) rotateY(180deg);
  }
  50% {
    transform: translateX(0) rotateY(180deg);
  }
  75% {
    transform: translateX(-100px) rotateY(180deg);
  }
  78% {
    transform: translateX(-90px) rotateY(0);
  }
  100% {
    transform: translateX(0);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-2-26 22:51:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.SubscribeSection {
  height: 448px;
  background-image: url(../img/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1180px) {
  .SubscribeSection {
    padding: 0 calc(50% - 768px / 2);
  }
}
@media (max-width: 800px) {
  .SubscribeSection {
    padding: 0 5vw;
  }
}
.SubscribeSection-Block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
}
@media (max-width: 800px) {
  .SubscribeSection-Block {
    width: 100%;
  }
}
.SubscribeSection .ReviewCard-Text {
  text-align: center;
  margin-top: 30px;
}
.SubscribeSection .SubscribeBlock {
  width: 50%;
}
@media (max-width: 800px) {
  .SubscribeSection .SubscribeBlock {
    width: 100%;
  }
}
.SubscribeSection .SubscribeBlock-H4 {
  text-align: center;
}
.SubscribeSection .SubscribeBlock-H5 {
  text-align: center;
}
.SubscribeSection .SubscribeBlock-Input {
  height: 50px;
  width: 260px;
  margin-top: 30px;
  padding-left: 20px;
  border: none;
  background-color: #E1E1E1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: none;
}
@media (max-width: 450px) {
  .SubscribeSection .SubscribeBlock-Input {
    width: 60%;
  }
}
.SubscribeSection .SubscribeBlock-Input:focus {
  border: none;
}
.SubscribeSection .SubscribeBlock-Input::placeholder {
  color: grey;
}
.SubscribeSection .SubscribeBlock-Btn {
  height: 50px;
  width: 100px;
  border: none;
  background-color: #F16D7F;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  cursor: pointer;
}

.RegistrationSection {
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 95px;
}
@media (max-width: 1180px) {
  .RegistrationSection {
    padding: 0 calc(50% - 768px / 2);
    padding-top: 40px;
    padding-bottom: 95px;
  }
}
@media (max-width: 800px) {
  .RegistrationSection {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 95px;
  }
}
.RegistrationSection .BonusesArticle {
  width: 55%;
}
@media (max-width: 1180px) {
  .RegistrationSection .BonusesArticle {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .RegistrationSection .BonusesArticle {
    margin-top: 40px;
    width: 360px;
  }
}
.RegistrationSection .BonusesArticle-H4, .RegistrationSection .BonusesArticle-Text, .RegistrationSection .BonusesArticle-List {
  font-weight: 300;
}
@media (max-width: 1180px) {
  .RegistrationSection .BonusesArticle-H4, .RegistrationSection .BonusesArticle-Text, .RegistrationSection .BonusesArticle-List {
    font-size: 16px;
  }
}
.RegistrationSection .BonusesArticle-Text {
  margin: 20px 0;
}
.RegistrationSection .BonusesArticle-ListIcon {
  width: 20px;
  margin-right: 20px;
}
.RegistrationSection .BonusesArticle-List {
  margin-bottom: 15px;
}

.CartSection {
  padding: 96px calc(50% - 1140px / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
@media (max-width: 1180px) {
  .CartSection {
    padding: 96px calc(50% - 768px / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .CartSection {
    padding: 60px 5vw;
  }
}
@media (max-width: 600px) {
  .CartSection {
    height: inherit;
  }
}
.CartSection-Products {
  width: 50%;
}
@media (max-width: 1180px) {
  .CartSection-Products {
    padding: 0 calc(50% - 768px / 2);
    width: 100%;
    margin-bottom: 65px;
  }
}
.CartSection-Info {
  width: 40%;
}
@media (max-width: 1180px) {
  .CartSection-Info {
    width: 100%;
  }
}
@media (max-width: 1180px) {
  .CartSection-Form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .CartSection-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 1180px) {
  .CartSection-FormBlock {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .CartSection-FormBlock {
    width: 50%;
  }
}
.CartSection-InputLabel {
  font-weight: 300;
}
.CartSection-Input {
  width: 360px;
  height: 45px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #A4A4A4;
}
.CartSection-Input::placeholder {
  color: #222222;
}
.CartSection-Btn {
  width: 100px;
  height: 34px;
  background: transparent;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  margin-top: 25px;
}
.CartSection-Price {
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 34px;
}
.CartSection-PriceSubTotal {
  font-size: 11px;
  align-self: end;
  margin-bottom: 12px;
}
.CartSection-PriceSubTotal_price {
  margin-left: 2rem;
}
.CartSection-PriceTotal {
  font-weight: 300;
  align-self: end;
}
.CartSection-PriceTotal_price {
  margin-left: 2rem;
  color: #F16D7F;
}
.CartSection-SubmitBtn {
  width: 275px;
  height: 50px;
  background: #F16D7F;
  border: none;
  color: white;
  margin-top: 40px;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
