.FeatureSection {
  height: 341px;
  background-color: #222224;
  @include flex(row, space-between);
  @include mainPadding();

  &-Block {
    width: 30%;
    @include flex(column);
  }

  &-Icon {
    width: 44px;
    fill: #F16D7F;

    &_sale {
      width: 40px;
    }

    &_quality {
      width: 47px;
    }
  }

  &-H5 {
    color: white;
    margin: 30px 0 16px;
  }

  &-Text {
    color: white;
    text-align: center;
  }
}
