.OfferSection {
  @include mainPadding();
  @include flex(row, space-between);
  margin-top: 65px;

  @media all {
    @media (max-width: 1180px) {
      @include tabletPadding();
    }
    @media(max-width: 800px) {
      @include mobilePadding();
    }
  }


  &-Card {
    width: 30%;
    height: 260px;
    text-align: center;
    @include flex(column);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    background-repeat: no-repeat;
    background-size: cover;

    @media all {
      @media (max-width: 1180px) {
        height: 220px;
      }

      @media (max-width: 800px) {
        height: 180px;
        background-position: top center;
      }

      @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 30px;
        height: 240px;
        background-position: top left;
        @include flex(column, center, end);
        padding-right: 30px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &-H4 {
    color: $brandColor;
  }

  &-Card_woman {
    background-image: url(../img/offer-woman.jpg);
  }

  &-Card_man {
    background-image: url(../img/offer-man.jpg);
  }

  &-Card_child {
    background-image: url(../img/offer-child.jpg);
  }

  &-Card_accessories {
    background-image: url(../img/offer-accessories.jpg);
    width: 100%;
    margin-top: 30px;

    @media (max-width: 600px) {
      margin-top: 0;
    }
  }

}
