.ProductsSection {
  margin-top: 95px;
  margin-bottom: 95px;
  @include mainPadding();
  @include flex(column);


  &-Header {
    text-align: center;
    margin-bottom: 15px;

    &_catalog {
      @include flex(row, space-between);
      width: 100%;

    }
  }

  &-Products {
    @include flex(row, space-between);
    width: 100%;
  }

  &-Btn {
    display: block;
    width: 211px;
    height: 47px;
    background-color: transparent;
    border: 2px solid #FF6A6A;
    color: #F26376;
    align-self: center;
    margin: 45px auto 0;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;

    &:hover {
      background-color: #FF6A6A;
      color: white;
    }
  }

}
