.ProductsSection {
  margin-top: 95px;
  margin-bottom: 95px;
  @include mainPadding();
  @include flex(column);


  &-Header {
    text-align: center;
    margin-bottom: 15px;

    &_catalog {
      @include flex(row, space-between);
      width: 100%;

    }
  }

  &-Products {
    @include flex(row, space-between);
    width: 100%;
  }

  .ProductCard {
    width: 31.5%;
    margin-top: 30px;
    background-color: #F8F8F8;

    &-Img {
      object-fit: contain;
    }

    &-H6, &-Text {
      margin-left: 15px;
      margin-right: 20px;
    }

    &-H6 {
      margin-top: 25px;
      margin-bottom: 15px;
    }

    &-H6_pink {
      color: $brandColor;
    }
  }

  &-Btn {
    width: 211px;
    height: 47px;
    background-color: transparent;
    border: 2px solid #FF6A6A;
    color: #F26376;
    align-self: center;
    margin: 45px auto 0;
    cursor: pointer;
  }

}
