.ProductInfoArticle {
  width: 1140px;
  padding: 65px;
  @include flex(column);
  border: 1px solid lightgray;
  margin: -50px auto 0;
  background: white;
  text-align: center;

  @media all {
    @media (max-width: 1180px) {
      width: 770px;;
    }
    @media(max-width: 800px) {
      width: 80%;;
    }
    @media(max-width: 600px) {
      height: inherit;
    }
  }

  &-H6 {
    color: #F16D7F;
    font-weight: 300;

    &::after {
      content: '';
      display: block;
      width: 65px;
      border-bottom: 3px solid #EF5B70;
      margin: 12px auto;
    }
  }

  &-H5 {
    font-weight: 300;
  }

  &-H4 {
    font-weight: 300;
    color: #EF5B70;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 640px;
      border-bottom: 1px solid lightgray;
      margin: 65px auto 55px;

      @media all {
        @media(max-width: 800px) {
          width: 300px;
        }
        @media(max-width: 500px) {
          width: 100%;
        }
      }
    }
  }

  &-Text {
    width: 50%;
    text-align: center;
    margin: 50px 0 32px;
    @media all {
      @media(max-width: 800px) {
        width: 100%;
      }
    }
  }

  &-Btn {
    padding: 15px;
    margin-top: 50px;
    background: transparent;
    border: 1px solid #FF6A6A;
    color: #FF6A6A;

    @media all {
      @media(max-width: 600px) {
        margin-top: 20px;
      }
    }
  }
}
